@charset "UTF-8";
/* CSS Document */

body
{
	background-color: #eae7e0;
    font-family:Helvetica,Arial,Verdana,sans-serif;
    font-size:12px;
}

#container{
	width: 1000px;
    margin-left:auto;
    margin-right:auto;
    min-width:800px;
	/* border: 1px solid black; */
	border-radius: 0.4em;
	padding:0.5% 0.5% 0.5% 0.5%;

	background-color: white;

}
#header {
	/* background-color: orange; */

	background: #067bc4;
	background:-moz-linear-gradient(bottom,#067bc4,#059af8);
	background:-webkit-gradient(linear,left bottom,left top,from(#067bc4),to(#059af8));
	background: filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#067bc4', endColorstr='#059af8');
	background: -o-linear-gradient(bottom, #067bc4, #059af8);

	width: 100%;
	height: 200px;
	border-radius: 0.4em;
}
#header h1 a, h1 a:visited{
    color:white;
    text-decoration: none;
}

#headervenstre, #headervenstre h1{

	color:#ffffff;
	margin: 0;
	width: 0;
	padding: 40px 7%;
	float:left;
	font-size: 40px;
}

#headerkolonne
{

	width: 250px;
	float: right;
	padding-top: 15px;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: left;
}

#logginn
{
	/*border: 1px solid black; */
	background-color: white;
	padding: 5px;
	border-radius: 0.4em;
	margin-bottom:3px;
	opacity:0.9;
}
#logginn:hover{
	opacity:1;
}

#sok
{
	/* border: 1px solid black; */
	background-color: white; /* gold */
	padding: 5px;
	border-radius: 0.4em;
        opacity:0.9;
}
#sok:hover{
	opacity:1;
}

/* Menyen */
#meny {
	width: 100%;
	height: 40px; /* Høyden på hele menyen */
	text-align:center;
	/*border-radius: 0.4em;*/
	
}
#meny ul{
	list-style-type:none;
	padding-left:0px;
}
#meny li{
	position: relative;
	padding: 8px;
	float: left;
	display:block;
	margin-left: 10px;
	
	width: 115px;
	border-radius: 5px;
	
    background: #067bc4;
	background:-moz-linear-gradient(bottom,#067bc4,#059af8);
	background:-webkit-gradient(linear,left bottom,left top,from(#067bc4),to(#059af8));
	background: filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#067bc4', endColorstr='#059af8');
	background: -o-linear-gradient(bottom, #067bc4, #059af8);

}
#meny li:hover{
	background: #005f9b;
}

#meny a
{
	text-decoration: none;
	display:block;
	color: white;
}


#meny a:hover
{
	display:block;
	background:#005f9b;
}

/* Meny slutt */



#main
{
	background-color: white;
	width: 80%;
	min-height: 400px;
	float: left;
}
#path
{
	color: grey;
	font-size:12px;
	padding-top: 3px;
	padding-left: 10px;
}
#path a
{
	color: grey;
	text-decoration: none;
}

/* Høyre side */
#rightbar{
	float:right;
	/*#d7d7d7,#e4e4e4 */
	background-color: white;
	margin-top: 20px;
	color:black;
	width: 20%;
	height: 379px;
	overflow: hidden;
	/*border-left: solid grey 1px; */
	padding-left: 2	px;

	border-radius: 5px;
	background: #b8b8b8;
	background:-moz-linear-gradient(bottom,#ffffff,#b8b8b8);
	background:-webkit-gradient(linear,left bottom,left top,from(#ffffff),to(#b8b8b8));
	background: filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#b8b8b8');
	background: -o-linear-gradient(bottom, #ffffff, #b8b8b8);
	
}
#rightbar h1{
    text-align: center;
    font-size: 1.5em;
color:white;
}
#handlevogn
{
    
	/*border:solid 1px;*/
	padding-top: 2px;
	padding-left: 2px;
	margin-left: 4px;
	margin-right: 2px;
	border-radius: 3px;
	
}
#rightbar #handlevogn p
{
	margin-top: 0px;
	padding: 0px;
	text-align: left;
	border-bottom: 1px white dotted;
}
/* Slutt høyre bar */

#footer, #footer p
{
	background-color: white;
	width:100%;
	margin-top: 10px;
	text-align: center;
	clear:both;
}


input, textarea {

	padding: 5px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;

	  
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	background: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
       
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
.submit input {
	width: auto;
	padding: 5px 10px;
	background: #617798;
	border: 0;
	font-size: 14px;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}
#hjerte
{
    color: red;
}